<div id="user_quiz_view">
  <div class="user_quiz_form">
    <h1>Editing Quiz</h1>
    <p>
      <%= link_to material_icon.arrow_back.md_24, users_quiz_path(@quiz), :"data-tooltip" => "Back to quiz" %>
      <%= link_to material_icon.account_box.md_24, user_path(current_user), :"data-tooltip" => "My account" %>
    </p>
    <%= form_for(@quiz, url: users_quiz_path,  html: {method: "patch"}) do |f| %>
      <%= f.hidden_field(:user_id, value: current_user.id) %>

      <% if @quiz.errors.any? %>
        <div class="notice-alert-session">
          <p class="notice">
            <div id="error_explanation">
              <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>
              <ul>
              <% @quiz.errors.full_messages.each do |message| %>
                <li style="list-style: none;"><%= message %></li>
              <% end %>
              </ul>
            </div>
          </p>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
      <div class="field">
        <%= f.text_area :description, placeholder: "Description" %>
      </div>
      <div class="actions">
        <%= f.submit('Update') %>
      </div>
    <% end %>
  </div>
</div>
