<h1>Editing Answer</h1>

<%= form_for(@answer, url: users_quizzes_questions_answer_path, html: {method: "patch"}) do |f| %>
	<%= f.hidden_field(:question_id, value: params[:question_id]) %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, options_for_select(answer_type_options), include_blank: "Type" %>
  </div>
  <div class="field">
    <%= f.label :contect %><br>
    <%= f.text_field :contect %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

