<div id="user_registrations_view">

  <div class="user_edit_registration_form">
    <h1>Edit password</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", disabled: true %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "New password" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
      </div>
      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password" %>
      </div>
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
      <div class="nav_options">
        <%= link_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %> |
        <%= link_to "My profile", user_path(current_user) %>
      </div>
    <% end %>
  </div>
</div>
