<% provide(:title, "Sign up") %>

<section id="new_registration" >
  <div class="new_user_registration_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <% if resource.errors.any? %>
        <div class="notice-alert-session">
          <p class="notice">
            <%= devise_error_messages! %>
          </p>
        </div>
      <% end %>

      <div class="field">
        <%= f.select :type, options_for_select(user_type_options), include_blank: "Type" %>
      </div>
      <div class="field">
        <%= f.email_field :email, placeholder: "Email" %>
      </div>
      <div class="field">
        <%= f.password_field :password, placeholder: "Password: 8 characters minimum" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
      <div class="nav_options" style="margin-top: 50px;">
        <%= link_to "Log in", root_path %> |
        <%= link_to "Sign up", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</section>
